.advantages {
    padding-top: 112px;
    padding-bottom: 112px;
}

.advantages__box {
    display: flex;
    justify-content: space-between;
    margin: 0 100px 57px;
}

.advantages__box__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.01em;
}

.advantages__box__text {
    font-size: 18px;
    line-height: 27px;
    max-width: 540px;
}

@media (max-width: 1199.98px) {

    .advantages__box {
        display: flex;
        justify-content: space-between;
        margin: 0 0 57px;
    }
}

@media (max-width: 991.98px) {
    .advantages__box{
        flex-direction: column;
    }
    .advantages__box__title {
        font-weight: 900;
        font-size: 40px;
    }

    .advantages__box__text{
        max-width: 778px;
    }
    
}